
.d-flex{
  display:flex;
}

.Box{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.Center{
    text-align: center;
    margin-top: 300px;
}

.btn{
  background-color: rgb(66, 142, 255);
  height: 30px;
  width: 80px;
  color: white;
}